{% extends 'base.html' %}

{% block title %}
Музыка
{% endblock %}

{% block body %}

		<style>
		.btnTable {
    		display: flex;
    		justify-content: center;
    		min-height: 4vh;
    		min-width: 10vh;
  		}
  		.form {
  			width: 40vh;
  		}
  		ul {
		    position: relative;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    flex-wrap: wrap;
		    border-radius: 10px;
		    padding: 20px;
		    width: 770px;
		    box-shadow: -2px -2px 5px rgba(0,0,0,0.5),
		                3px 3px 5px rgba(0,0,0,0.07);
		}

		ul li {
		    position: relative;
		    list-style: none;
		    text-align: center;
		    margin: 15px;
		}

		ul li label {
		    position: relative;
		}

		#output {
			margin-top: 10px;
			text-align: center;
		}
		</style>

		<script type="text/javascript">
			var stop = function(){
				var xhr = new XMLHttpRequest();
				xhr.open('GET', 'stopSound', true);
				xhr.send();
			}
		</script>

	<div class="btnTable">
    <ul>
      <form action="" method="post">
        <p>
	    <label for="username">Ссылка</label>
	    <input type="text" name="username" class="form" autocomplete="off">
		</p>
		<p>
	    <label for="speaker">Громкость (от -10239 до 400)</label>
	    <input type="text" name="speaker" class="form" autocomplete="off">
		</p>
		<p>
	    <input type="submit">
		</p>
		<p>
		<button class="btnTable" onclick="stop()" id="button">Stop</button>	
		</p>
    </form>
    </ul>
    </div>
{% endblock %}